@use "../../lib/style/variables.scss" as *;

main {
    max-width: 45rem;
    min-height: 110vh;
    padding: 2rem;
}

label {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}

select {
    min-width: 4rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}

input,
select {
    min-width: 4rem;
    padding: 0.25rem;
    height: unset;
    background-color: rgba($colorText, 0.1);
    border-color: rgba($colorText, 0.2);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;

    &[type="text"] {
        width: 100%;
    }

    &[type="button"] {
        padding: 0.25rem 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: rgba($colorText, 0.15);
            border-color: rgba($colorText, 0.25);
        }
        &:active {
            background-color: rgba($colorText, 0.1);
            border-color: rgba($colorText, 0.05);
        }
    }
}

textarea {
    padding: 0.25rem;
    width: 100%;
    resize: vertical;
    background-color: rgba($colorText, 0.1);
    border-color: rgba($colorText, 0.2);
}
