$colorWhite: #ffffff;
$colorBlack: #000000;
$colorWarning: #ffc107;
$colorDanger: #dc3545;
$colorSuccess: #198754;

$colorText: $colorWhite;
$colorBackground: $colorBlack;

$widthContentLarge: 90rem;
$widthContent: 75rem;

$fontMain: "Alexandria", sans-serif;
